<div>
  <div class="hero">
    <nav>
      <a href="#home">
      <img class="icon" src="./assets/images/o.png" />
      </a>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div id="home" class="section">
    <div class="home-flex">
      <div class="half">
        <img class="profile-photo" src="./assets/images/owen.jpg" />
      </div>
      <p>
        Hi, I'm <span> Owen</span> <br />
        a <span> highschool</span> student <br />
        with a passion for <span>coding</span>
      </p>
    </div>
  </div>

  <div id="about" class="section">
    <div class="title">
      <h1> About Me</h1>
      <p class="about-desc">
        I'm a grade 12 student from Canada looking to pursue a career in computer science
        <br> My goal is to find a job I can look forwards to every day, while also being able to do the things I love
        <br> My favourite sport is volleyball, which I play club for. Other hobbies include playing piano and listening to music

      </p>
    </div>
  </div>

  <div id="projects" class="section">
    <div class="title">
      <h1>Personal Projects</h1>
      <p>Things I've worked on</p>
    </div>
    <div class="flex">
      <div class="container-slant-lav">
        <a href="https://fpss-gallery.web.app/">
        <img class="img-slant" src="./assets/images/Fleetwood_park_Logo.png" />
        </a>
      </div>
      <div class="container-slant-black">
        <a href="https://github.com/O-Cui/USO-Rythm-Game">
        <img class="img-slant" src="./assets/images/USO.png" />
        </a>
      </div>
      <div class="container-slant-lav">
        <a href="https://github.com/O-Cui/steam-searcher">
        <img class="img-slant" src="./assets/images/Steam_Logo.png" />
        </a>
      </div>
      <div class="container-slant-black">
        <a href="https://github.com/O-Cui/FNF_Bot.git">
        <img class="img-slant" src="./assets/images/fnf logo.jpg" />
        </a>
      </div>
    </div>
  </div>


  <div id="contact" class="section">
    <div class="title">
      <h1>Contact Me</h1>
      <p>Fill out the form below to send me an email</p>
    </div>

    <div class="form">
      <form
      [formGroup]="contactForm" 
      (ngSubmit)="onSubmit()">
      <form  ngNoForm
      [action]="url"
      method="POST">
        <div class="flex">
          <input
            class="input"
            type="text"
            name="name"
            formControlName="name"
            placeholder="Name"
          />
          <div *ngIf="name && name.invalid && (name.dirty || name.touched)">
            <div class="error-msg" *ngIf="name.errors?.required">
              *Name is required
            </div>
          </div>
          <div class="flex">
            <input
              class="input"
              type="text"
              name="email"
              required
              minlength="3"
              formControlName="email"
              placeholder="Email"
            />
            <div
              *ngIf="email && email.invalid && (email.dirty || email.touched)"
            >
              <div class="error-msg" *ngIf="email.errors?.required">
                *Email is required
              </div>
              <div class="error-msg" *ngIf="email.errors?.minlength">
                *Email must be longer than 3 characters
              </div>
            </div>
          </div>
        </div>
        <br/><br/>
        <div class="flex">
        <textarea
          class="input-message"
          type="text"
          name="message"
          required
          minlength="10"
          formControlName="message"
          placeholder="Message"
        > </textarea>
        <div
          *ngIf="
            message && message.invalid && (message.dirty || message.touched)
          "
        >
          <div class="error-msg" *ngIf="message.errors?.required">
            *Message is required
          </div>
          <div class="error-msg" *ngIf="message.errors?.minlength">
            *Message must be longer than 10 characters
          </div>
        </div>
        </div>

        <br />
        <button class="submit-button" type="submit" [disabled]="!contactForm.valid">Submit</button>
      </form>
      </form>
    </div>
  </div>
</div>
