/* You can add global styles to this file, and also import other style files */
body {
    margin:0px;
    background-color: lightblue;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    display:none;
}
html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: Hoefler;
    src: url("./assets/fonts/Hoefler-Text-Regular.ttf")
  }
  * {
    font-family: Hoefler;
  }